<div class="train-container">
  <div class="mb-2" style="width:100%">
    <video class="video" autoplay playsinline muted #videoElement width="{{videoWidth}}" height="{{videoHeight}}"></video>
  </div>

  <div class="mat-card selection-area p-3 col-5">
    <p *ngIf="state === 0">
      How may I help you?
    </p>

    <ng-container *ngIf="state === 1">
      <p>
        Are you looking for ATMs ?
      </p>
      <button class="btn btn-primary" routerLink="/atm"> YES </button>
    </ng-container>

    <ng-container *ngIf="state === 2">
        <p>
          Are you looking for Lounges ?
        </p>
        <button class="btn btn-primary" routerLink="/lounges"> YES </button>
      </ng-container>
  </div>
</div>