<div class="train-container">
  <div class="mb-2" style="width:100%">
    <video class="video" autoplay playsinline muted #videoElement width="{{videoWidth}}" height="{{videoHeight}}"></video>
  </div>

  <div class="mat-card train-area p-3 col-5">
    <div>
      <div class="mb-1">
        <label>Label: </label>
        <input class="col-2" type="number" maxlength="1" [(ngModel)]="label">
      </div>
      <button class="btn btn-primary mb-1" (mousedown)="mousedown()" (mouseup)="mouseup()">Train</button>
    </div>

    <div>
      <canvas class="thumb" width="{{videoWidth}}" height="{{videoHeight}}" #sampleElement></canvas>
    </div>

  </div>
</div>