/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables.scss';

.btn {
  border: none;
  border-radius: 1;
  box-shadow: $shadow;

  &:hover, &:focus {
    box-shadow: $shadow-focus;
  }

  // &:focus {
  //   box-shadow: $shadow-focus;
  // }
}